* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

/* 头部标题 */
.header {
  padding: 5px;
  text-align: center;
  background: yellow;
}

/* 创建两列 */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  background-color: blue;
}
 
/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: green;
  padding-left: 20px;
}

/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15%;
  width: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0%;
  padding: 3%;
  box-sizing: border-box;
}

.App-left-section {
  background-color:lightblue;
  position: static;
  left: 0;
  box-sizing: border-box;
  height: auto;
  width: 300px;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
